<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{paymentUrl}}" method="post" >
        <input type="text" value="{{ id }}">
        <input type="text" value="{{ token }}" name="token">
        <button type="submit">Pagar</button>
    </form>
</body>
</html>