<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>

<body>
    <div class="middle">
        <div class="border middle">
            <h2 class="">{{message}}</h2>
            <br>
            <p class="bold">Nombre del cliente</p>
            <p>{{data.customerName}}</p>
            <p class="bold">Telefono</p>
            <p>{{data.customerPhone}}</p>
            <p class="bold">Rut</p>
            <p>{{data.customerRut}}</p>
            <p class="bold">Numero de telefono</p>
            <p>{{data.customerPhone}}</p>
            <p class="bold">Currency</p>
            <p>{{data.currency}}</p>
            <p class="bold">Monto</p>
            <p>{{data.amount}}</p>
        </div>
    </div>
</body>

<style>
    .middle{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .bold{
        font-weight: bold;
        font-size: 20px;
    }

    .border{
        border: 1px solid black;
        max-width: 30%;
    }
</style>